@use "_contact";
@use "_dashboard";
@use "index";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

$red: #e50914;
$gray: #505050;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// NAVBAR

body {
  background-color: black;
  font-family: "lato";
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  > div:first-child {
    color: rgb(233, 22, 22);
  }
  > div:nth-child(2) {
    width: 70%;

    nav {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      padding: 25px;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}




